* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

main {
   width: 100vw;
   height: 100vh;
   position: relative;
   background-color: rgba(23, 109, 187, 0.84);
}

.grid-container {
   display: grid;
   height: 100%;
   grid-template-columns: repeat(3, 150px);
   grid-template-rows: repeat(3, 150px);
   justify-content: center;
   align-content: center;
   grid-gap: 10px 10px;
   text-align: center;
}

.grid-item {
   border: 2px solid rgb(255, 255, 255);
   border-radius: 50%;
   cursor: pointer;

}

.locked{
  pointer-events: none;
}

i {
   display: inline-block;
   margin: 0 auto;
   position: relative;
   top: 50%;
   transform: translateY(-50%);

}

.fa-circle-o {
   color: rgb(27, 223, 23);
}

.fa-times {
   color: rgb(255, 92, 0);
}

.fa-5x {
   font-size: 7em;
}

#result {
   display: none;
   width: 380px;
   height: 280px;
   position: absolute;
   background-color: rgba(219, 235, 220, 0.59);
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   font-size: 30px;
   line-height: 80px;
}

span {
   font-weight: bold;
}

#restart {
   margin: 40px;
   cursor: pointer;
}

#restart i:hover {
   color: rgb(38, 95, 207);
}
